/*
This file should be rewritten by the deploy tool with any custom css
particular to the deployment instance.

Here is a complete example:

:root {
  --custom-accent: #0077C2;
  --custom-accent-foreground: #ffffff;
}
.dark {
  --custom-accent: #0077C2;
  --custom-accent-foreground: #ffffff;"
}

Do not add any other custom css here, as it will be overwritten on deploy.

For more details, see docs/custom-branding.md
*/
