@import "~bootstrap/scss/bootstrap.scss";
@import "themes.scss";
@import "header.scss";
@import "app.scss";

/**
 this mixin allows for dynamic theming of the app
 */
$theme-map: null;

@mixin customTheme($themes: $themes) {
  @each $theme, $map in $themes {
    .#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key)
}

.btn {
  @include customTheme($themes) {
    color: themed('buttonTextColor');
    background-color: themed('buttonColor');
    border-color: themed('buttonColor');

    &:hover {
      color: themed('buttonTextHoverColor');
      border-color: themed('buttonColorHover');
      text-transform: themed('buttonTextTransform');
      background-color: themed('buttonColorHover');
    }
  }
}

.dropdown-item {
  &:hover {
    color: themed('buttonTextHoverColor');
    border-color: themed('buttonColorHover');
    background-color: themed('buttonColor');
  }
}

.icon-primary {
  color: black;
  cursor: pointer;
  display: inline-block;
  transition: color 0.1s, border-color 0.1s, background-color 0.1s;

  &:hover {
    color: themed('icon-sort') !important;
  }
}

.icon-sort {
  color: themed('textColor') !important;
  cursor: pointer;
  display: inline-block;
  transition: color 0.1s, border-color 0.1s, background-color 0.1s;

  &:hover {
    color: themed('buttonColorHover') !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-card {
  max-width: 75%;
  text-align: left;
}

a {
  color: themed('primaryColor');
  text-decoration: none;

  &:hover {
    color: themed('textColor');
  }
}

.pagination .disabled {
  opacity: 0.6;
}

.page-item .page-link {
  color: themed('primaryColor');
  &:hover {
    color: themed('buttonTextHoverColor');
    border-color: themed('buttonColorHover');
    text-transform: themed('buttonTextTransform');
    background-color: themed('buttonColorHover');
  }
}

.page-item {
  &.active .page-link {
    background-color: themed('primaryColor') !important;
    color: themed('buttonTextHoverColor') !important;
    border-color: themed('primaryColor');

    &:hover {
      color: themed('buttonTextHoverColor');
      border-color: themed('buttonColorHover');
      text-transform: themed('buttonTextTransform');
      background-color: themed('buttonColorHover') !important;
    }
  }
}

.content {
  position: absolute;
  left: 265px;
  right: 20px;
  min-width: inherit;
  display: flex;
  flex-direction: column;
  color: themed('textColor');
  transition: left 0.3s ease-in-out;
}

.sidebar-right {
  background: themed("buttonTextColor");
  position: absolute;
  top: 64px;
  left: 0;
  width: 50px;
  height: 100%;
  padding: 20px 0;
  transition: color 0.1s, border-color 0.1s, background-color 0.1s;
}

.explorer {
  top: 90px;
  min-height: inherit;

  .badge-published {
    background-color: themed("badge-published");
    color: themed("buttonTextColor");
  }

  .badge-internal {
    background-color: themed("secondaryColor");
    color: themed("buttonTextColor");
  }
}

.packet-details {
  top: 90px;
  min-height: inherit;

  .badge-parameter {
    background-color: themed("secondaryColor");
    color: themed("textColor");
  }
}

.content-box {
  overflow: auto;
  padding: 10px 10px 10px 10px;
  max-height: calc(100vh - 150px);
  border-radius: 10px;
  background-color: themed("buttonTextColor");
}

.packit-iframe {
  height: calc(100vh - 300px);
  width: 100%;
}

.sidebar-packet-list,
.sidebar-short,
.sidebar {
  top: 64px;
  padding: 20px 0;
  transition: color 0.1s, border-color 0.1s, background-color 0.1s;

  ul li {
    alignment: center;
    padding: 10px 10px 0 10px;

    a {
      top: 20px;
      height: 36px;
      display: block;
      padding: 8px 30px 10px 10px;
      color: themed("textColor");
      font-size: 12px;
      position: relative;
      text-align: left;
      text-decoration: none;

      &.active {
        color: themed("buttonTextColor");
        background: themed("buttonColor");
        border-radius: 10px;
      }

      &:hover {
        color: themed("buttonTextColor");
        border-radius: 10px;

        &:before {
          display: block;
        }
      }

      &.active {
        &:before {
          display: block;
        }

        &:hover {
          background: themed("buttonColorHover");
        }
      }

      .sidebar-icon {
        color: #484646;
        width: 35px;
        height: 25px;
        display: inline-block;
      }
    }
  }
}

.sidebar-packet-list {
  background: themed("buttonTextColor");
  position: absolute;
  left: 55px;
  width: 195px;
  height: 100vh;

  ul li {
    a {
      &:hover {
        background: themed("buttonColor");
      }
      &:hover .sidebar-icon,
      &.active .sidebar-icon {
        color: themed("buttonTextHoverColor");
      }
    }
  }
}

.sidebar-short {
  background: themed("secondaryColor");
  position: absolute;
  left: 0;
  width: 55px;
  height: 100vh;

  .text {
    display: none;
  }

  ul li {
    a {
      &:hover .sidebar-icon {
        color: themed("textColor");
        background: themed("buttonTextColor");
        transition: transform .2s;
        box-shadow: 1px 1px 1px 8px themed("buttonTextHoverColor");
      }
    }
  }
}

.sidebar {
  background: #FFFFFF;
  position: absolute;
  left: 0;
  width: 245px;
  height: 100vh;

  ul li {
    a {
      &:hover {
        background: themed("buttonColor");
      }

      &:hover .sidebar-icon,
      &.active .sidebar-icon {
        color: #FFFFFF;
      }
    }
  }
}
