@import "variables.scss";

$themes: (
        default: (
                primaryColor: $theme-primary,
                secondaryColor: $theme-secondary,
                textColor: $theme-text-color,
                iconColor: $theme-primary,
                buttonTextColor: #FFFFFF,
                buttonColorHover: $theme-hover-color,
                buttonTextHoverColor: #FFFFFF,
                buttonColor: $theme-primary
        )
);
