$theme-default-primary: #898121;
$theme-default-secondary: #E7B10A;
$theme-default-hover-color: #4C4B16;
$theme-default-text-color: #484646;
$theme-default-links: #898121;
$theme-default-container-color: #EBE5E5;